.col {
    float: left;
    height: 100%;
}
.main {
    width: 47%;
}
.sub {
    width: 28%;
}
.mini {
    width: 25%
}
.box {
    background-color: #262626;
    box-sizing: border-box;
    border: 3px solid black;
    overflow: hidden;
}
.header_wrapper {
    text-shadow: 0 5px 5px black;
    text-align: center;
}